:ruby
	item = locals["data"]
	data = eval item["time_series"]
	sum = data.inject { |sum,n| sum + n }

	time_series = []
	data.each_with_index do |sample, idx|
		time = locals["created_at"] + (60 * 60 * idx)
		timestamp = time.localtime.strftime "%D %T"
		time_series << "'#{timestamp},#{sample}\\n'"
	end

%h1.entry-title
	used #{sum}
	%abbr{ title: "kilowatt-hours" }
		kW·h
	of electricity

	- if locals["extras"]["full_view"]
		%section.entry-content
			%div{ id: "graph_#{locals["id"]}" }

		:javascript
			(function ($, window) { $(function () {
				graph({
					data: #{time_series.join("+")},
					selector: $("#graph_#{locals["id"]}"),
					valueRange: [0, 10]
				})
			}) })(window.$ || window.jQuery || window.Zepto, window);
