:ruby
	item = eval locals["data"]["photo"]
	user = item["owner"]
	username = user["realname"].empty? ? user["username"] : user["realname"]
	type = (item.has_key? "video") ? "video" : "photo"
	url = LFlickr.photo_url item

	if !item["title"].empty?
		title = item["title"].is_a?(String) ? item["title"] : item["title"]["_content"]
	end

	if !item["description"].empty?
		description = item["description"].is_a?(String) ? item["description"] : item["description"]["_content"]
	end

%h1.entry-title
	favorited
	= succeed "’s" do
		%a{ href: LFlickr::person_url(locals["data"]) }><
			= h username
	- if !title
		%a{ href: locals["url"] }
			= type
	- else
		= type
		= surround "‘", "’" do
			%a{ href: url }><
				= h title

- if locals["extras"]["full_view"]
	%section.entry-content
		%a{ href: LFlickr::photo_url(item) }
			%img{ src: LFlickr::photo_source_url(item, "b") }

		- if description
			%blockquote
				%p
					= nl2br description
