:ruby
	item = eval locals["data"]["photo"]
	user = item["owner"]
	username = user["realname"].empty? ? user["username"] : user["realname"]
	type = (item.has_key? "video") ? "video" : "photo"
	url = LFlickr.photo_url item

%h1.entry-title
	favorited
	= succeed "’s" do
		%a{ href: LFlickr::person_url(locals["data"]) }><
			= h username
	- if item["title"]["_content"].empty?
		%a{ href: locals["url"] }
			= type
	- else
		= type
		= surround "‘", "’" do
			%a{ href: url }><
				= h item["title"]["_content"]

- if locals["extras"]["full_view"]
	%section.entry-content
		%a{ href: LFlickr::photo_url(item) }
			%img{ src: LFlickr::photo_source_url(item, "b") }

		- description = item["description"]["_content"]
		- unless description.empty?
			%blockquote
				%p
					= nl2br description
