:ruby
	item = locals["data"]

	lat = item["lat"].to_f
	short_lat = lat.round 2
	lng = item["lon"].to_f
	short_lng = lng.round 2
	altitude = item["alt"].to_f.round 0

%h1.entry-title.geo
	was at
	%a{ href: "https://maps.google.com/maps?q=#{lat},#{lng}" }
		%span.latitude{ title: "#{lat}" }
			#{short_lat}° N
		%span.longitude{ title: "#{lng}" }
			#{short_lng}° W
	= surround "(", ")" do
		#{altitude}
		%abbr{ title: "meters" }<
			m
		above sea level
