:ruby
	item = locals["data"]

	lat = item["lat"].to_f
	lng = item["lon"].to_f
	altitude = item["alt"].to_i

%h1.entry-title.geo
	was at
	%a{ href: "https://maps.google.com/maps?q=#{lat},#{lng}" }
		%span.latitude{ title: "#{lat}" }
			#{lat.round 2}° N
		%span.longitude{ title: "#{lng}" }
			#{lng.round 2}° W
	= surround "(", ")" do
		#{altitude}
		%abbr{ title: "meters" }<
			m
		above sea level
