- item = locals["data"]

%h1.entry-title
	- if item["retweeted_status"]
		- retweet = eval(item["retweeted_status"])
		retweeted
		%a{ href: LTwitter::person_url(retweet) }<
			= retweet["user"]["name"]
	- else
		posted a
		%a{ href: LTwitter::tweet_url(item) }
			tweet
		- mentions = eval(item["entities"])["user_mentions"]
		- if item["in_reply_to_status_id"] && !mentions.empty?
			in reply to
			%a{ href: "https://twitter.com/#{item["in_reply_to_screen_name"]}/status/#{item["in_reply_to_status_id_str"]}" }
				= LTwitter::first_mention item

- if locals["extras"]["full_view"]
	%section.entry-content
		= LTwitter::media item

		%blockquote
			%p
				= nl2br LTwitter::text item
