:ruby
	item = locals["data"]
	message = Mail.new item["raw_message"]
	if message.from
		from = message.from.map { |a| %Q{<a href="mailto:#{a}">#{a}</a>} }.join ", "
	end
	if message.to
		to = message.to.map { |a| %Q{<a href="mailto:#{a}">#{a}</a>} }.join ", "
	end

%h1.entry-title
	received ‘#{h message.subject}’
	- if from
		from #{from}
	- if to
		(sent to #{to})

- if locals["extras"]["full_view"]
	%section.entry-content
		%blockquote
			%iframe.mail_viewer{ sandbox: true, srcdoc: LGmail.body(message) }
