:ruby
	item = locals["data"]
	duration = item["duration"].to_f / 60 / 60

	extremes = []
	time_series = eval(item["events"]).map do |e|
		extremes << e["intensity"] if e["intensity"] >= 0.5
		timestamp = Time.parse(e["timestamp"]).localtime.strftime("%D %T")
		"'#{timestamp},#{e["intensity"]}\\n'"
	end
	clamp = extremes.length > 0

%h1.entry-title
	woke up after #{sprintf("%0.01f", duration)} hours, with a quality of #{item["quality"].to_f / 10.0}/10

- if locals["extras"]["full_view"]
	%section.entry-content
		- notes = eval(item["notes"])
		- rating = item["rating"].to_i

		- if notes != [] && rating != 0
			%blockquote
				- unless notes == []
					%p
						%em
							Notes:
						= notes.join ", "

				- unless rating == 0
					%p
						%em
							Sleep satisfaction:
						:ruby
							puts case item["rating"].to_i
								when 1 then "positive"
								when 2 then "neutral"
								when 3 then "negative"
								else item["rating"]
							end

		%div{ id: "graph_#{locals["id"]}" }

		:javascript
			(function ($, window) { $(function () {
				graph({
					data: #{time_series.join("+")},
					selector: $("#graph_#{locals["id"]}"),
					valueRange: [0, 0.5]
				})
			}) })(window.$ || window.jQuery || window.Zepto, window);
