= will_paginate(@items, { inner_window: 2 }) if @items

/ Libraries
= javascript_script_tag "//use.typekit.net/yws8cub.js"
= javascript_script_tag "//api.tiles.mapbox.com/mapbox.js/v1.6.0/mapbox.js"

/ App

:javascript
	try { Typekit.load(); } catch (e) {}

/[if IE]
	= javascript_script_tag "//html5shiv.googlecode.com/svn/trunk/html5.js"

= partial "partials/_timeline"
= partial "partials/_map"
