- photo = eval locals["data"]["photo"]

%section{ class: item_classes(locals), style: item_hsl(locals) }
	%h1.entry-title
		favorited
		= precede " " do
			- user = photo["owner"]
			- username = user["realname"].empty? ? user["username"] : user["realname"]
			%a{ href: Flickr::person_url(locals["data"]) }><
				= "#{h username}’s"
		- type = (photo.has_key? "video") ? "video" : "photo"
		= type
		- unless photo["title"]["_content"].empty?
			= surround "‘", "’" do
				%a{ href: locals["url"] }><
					= h photo["title"]["_content"]

	%section.entry-content
		%a{ href: Flickr::photo_url(photo) }
			%img{ src: Flickr::photo_source_url(photo, "b") }

		- description = photo["description"]["_content"]
		- unless description.empty?
			%blockquote
				%p
					= nl2br description

	= partial "_item_metadata", locals
