- item = eval locals["data"]["photo"]
- user = item["owner"]
- username = user["realname"].empty? ? user["username"] : user["realname"]

%h1.entry-title
	favorited
	%a{ href: LFlickr::person_url(locals["data"]) }
		%span.avatar{ style: "background-image:url('#{LFlickr::avatar_url user}')" }
		= "#{h username}’s"
	= (item.has_key? "video") ? "video" : "photo"
	- unless item["title"]["_content"].empty?
		= surround "‘", "’" do
			%a{ href: locals["url"] }><
				= h item["title"]["_content"]

- if locals["extras"]["full_view"]
	%section.entry-content
		%a{ href: LFlickr::photo_url(item) }
			%img{ src: LFlickr::photo_source_url(item, "b") }

		- description = item["description"]["_content"]
		- unless description.empty?
			%blockquote
				%p
					= nl2br description
