- item = locals["data"]

%section{ class: item_classes(locals), style: item_hsl(locals) }
	%h1.entry-title
		favorited
		= succeed "’s" do
			%a{ href: Twttr::person_url(item) }
				%span.avatar{ style: "background-image:url('#{Twttr::get_user(item)["profile_image_url_https"]}')" }
				= Twttr::get_user(item)["name"]
		%a{ href: Twttr::tweet_url(item) }
			tweet
		- if item["in_reply_to_status_id"]
			in reply to
			%a{ href: "https://twitter.com/#{item["in_reply_to_screen_name"]}/status/#{item["in_reply_to_status_id_str"]}" }
				- reply_user = eval(item["entities"])["user_mentions"].first
				= reply_user[:name]

	- if locals["extras"]["full_view"]
		%section.entry-content
			= Twttr::media item

			%blockquote
				%p
					= nl2br Twttr::text item

	= partial "_item_metadata", locals
