:ruby
	item = locals["data"]
	payload = eval item["payload"]
	repo = eval item["repo"]

%h1.entry-title
	= payload["action"]
	%a{ href: payload["issue"]["html_url"] }
		issue ##{payload["issue"]["number"]}
		(#{payload["issue"]["title"]})
	on
	= succeed "’s" do
		- owner = LGithub.repo_owner item
		%a{ href: "//github.com/#{owner}" }><
			= owner
	repository
	%a{ href: LGithub.sanitize_url(repo["url"]) }
		= repo["name"]
