- data = locals["data"]
%section{ class: item_classes(locals), style: item_hsl(locals) }
	%h1.entry-title
		liked
		= succeed "’s" do
			= LVimeo::person_link data
		video
		%a{ href: locals["url"] }
			%em.film
				= data["title"]

	- if locals["extras"]["full_view"]
		%section.entry-content
			= LVimeo::media data, item_hsl(locals, false)

			%blockquote
				%p
					= nl2br data["description"]

	= partial "_item_metadata", locals
