- data = locals["data"]
%section{ class: item_classes(locals), style: item_hsl(locals) }
	%h1.entry-title
		liked
		= succeed "’s" do
			= LVimeo::person_link data
		video
		%a{ href: locals["url"] }
			%em.film
				= data["title"]

	%section.entry-content
		= LVimeo::media data, item_hsl(locals, false)

		%blockquote
			%p
				= data["description"]

	= partial "_item_metadata", locals
