:ruby
	item = locals["data"]
	album = item["album"] ? eval(item["album"]) : nil
	artist = eval(item["artist"])

%h1.entry-title
	listened to
	= succeed "’s" do
		= artist["name"]
	%a{ href: locals["url"] }<
		= item["name"]
	- if album
		= surround "(from ", ")" do
			%span.album<
				= album["content"]
