- item = locals["data"]
- album = item["album"] ? eval(item["album"]) : nil
- artist = eval(item["artist"])

%section{ class: item_classes(locals), style: item_hsl(locals) }
	%h1.entry-title
		listened to
		%span.avatar{ style: "background-image:url('#{artist["image"][0]["content"]}')" }
		= succeed "’s" do
			= artist["name"]
		%a{ href: locals["url"] }<
			= item["name"]
		- if album
			= surround "(from ", ")" do
				%span.avatar{ style: "background-image:url('#{eval(item["image"])[0]["content"]}')" }
				%span.album<
					= album["content"]

	= partial "_item_metadata", locals
