- item = locals["data"]
- album = item["album"] ? eval(item["album"]) : nil
- artist = eval(item["artist"])

%h1.entry-title
	listened to
	= succeed "’s" do
		= artist["name"]
	%a{ href: locals["url"] }<
		= item["name"]
	- if album
		= surround "(from ", ")" do
			- artwork = eval(item["image"])[0]["content"]
			- if artwork && !artwork.blank?
				%span.avatar{ style: "background-image:url('#{artwork}')" }
			%span.album<
				= album["content"]
