- data = locals["data"]
%section{ class: item_classes(locals), style: item_hsl(locals) }
	%h1.entry-title
		listened to
		= succeed "’s" do
			= eval(data["artist"])["name"]
		%a{ href: locals["url"] }
			= data["name"]
		- if data["album"]
			= surround "(from", ")" do
				%span.album
					= eval(data["album"])["content"]


	= partial "_item_metadata", locals
