- tweet = locals["data"]
%section{ class: item_classes(locals), style: item_hsl(locals) }
	%h1.entry-title
		- if tweet["retweeted_status"]
			- retweet = eval(tweet["retweeted_status"])
			retweeted
			%a{ href: Twttr::person_url(retweet) }><
				= retweet["user"]["name"]
		- else
			posted a
			%a{ href: Twttr::tweet_url(tweet) }
				tweet
			- if tweet["in_reply_to_status_id"]
				in reply to
				%a{ href: "https://twitter.com/#{tweet["in_reply_to_screen_name"]}/status/#{tweet["in_reply_to_status_id_str"]}" }
					= eval(tweet["entities"])["user_mentions"].first[:name]

	%section.entry-content
		= Twttr::media tweet

		%blockquote
			%p
				= Twttr::text tweet

	= partial "_item_metadata", locals
