= will_paginate(@items, { inner_window: 2 }) if @items

/ Libraries
= javascript_script_tag "assets/vendor.js"
= javascript_script_tag "//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"
= javascript_script_tag "//use.typekit.net/yws8cub.js"

/ App
= javascript_script_tag "assets/boot.js"

:javascript
	try { Typekit.load(); } catch (e) {}

/[if IE]
	= javascript_script_tag "//html5shiv.googlecode.com/svn/trunk/html5.js"

:javascript
	var timeline_dates = #{ @items.map { |item| item.created_at.to_s } };
