:ruby
	@domain = request.host
	@page_title ||= "Recent Activity"
	@page_summary ||= "Jordan Cole’s lifestream. Follow my digital activities."
	@page_type ||= :index

%meta{ charset: "UTF-8" }

/ mobile
%meta{ content: "initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0, user-scalable=no, width=device-width", name: "viewport" }
%meta{ content: "yes", name: "apple-mobile-web-app-capable" }
%meta{ content: "black-transluscent", name: "apple-mobile-web-app-status-bar-style" }
-# iOS: 57 72 114 144
- %w(57 72 114 144).each do |size|
	%link{ rel: "apple-touch-icon-precomposed", sizes: "#{size}x#{size}",
			href: "/assets/app_icon/#{size}.png" }
	%link{ rel: "icon", sizes: "#{size}x#{size}",
			href: "/assets/app_icon/#{size}.png" }
/ iPhone 1/3/3G
%link{ href: "/assets/app_splash/iphone.png", rel: "apple-touch-startup-image",
		media: "(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" }
/ iPhone 4/4S
%link{ href: "/assets/app_splash/iphone4.png", rel: "apple-touch-startup-image",
		media: "(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" }
/ iPhone 5
%link{ href: "/assets/app_splash/iphone5.png", rel: "apple-touch-startup-image",
		media: "(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" }

/ Google Webmaster Tool
%meta{ content: "fBP5k+EA4BFJx2aaK3hiOymbZSUbEAkp8OcEdeK/Fk8=", name: "verify-v1" }
/ Google+ Direct Connect
%link{ href: "//plus.google.com/110429686691143465116", rel: "me publisher", title: "Google+" }
/ Yahoo! Site Explorer
%meta{ content: "cfc35a49dda0d46c", name: "y_key" }
- if @page_type == :index
	/ Readability publisher
	%meta{ content: "hw4FKyh3RrzAXzVGndy9KFv3c3eDC7gLfsLpvf9J", name: "readability-verification" }
/ Facebook Insights
%meta{ content: "211500669", property: "fb:admins" }

/ Open Graph/Twitter Cards
%meta{ content: "http://static.ratafia.info/bird_200x200.png", property: "og:image" }
%meta{ content: "Ratafia Currant", property: "og:site_title" }
%meta{ content: "summary", property: "twitter:card" }
%meta{ content: "@stilist", property: "twitter:creator" }
%meta{ content: @page_title, property: "og:title" }
%meta{ content: @page_title, property: "twitter:title" }
%meta{ content: @page_summary, property: "og:description" }
%meta{ content: @page_summary, property: "twitter:description" }
%meta{ content: "Ratafia Currant", property: "og:site_name" }
- if @page_type == :index
	%meta{ content: "website", property: "og:type" }
	%meta{ content: "http://static.ratafia.info/bird_200x200.png", property: "twitter:image" }
	/ TODO
	%meta{ content: "http://#{@domain}", property: "og:url" }
	%meta{ content: "http://#{@domain}", property: "twitter:url" }
- else
	%meta{ content: "article", property: "og:type" }
	%meta{ content: "http://#{@domain}#{@permalink}", property: "og:url" }
	%meta{ content: "http://#{@domain}#{@permalink}", property: "twitter:url" }
	/ TODO
	%meta{ content: "http://static.ratafia.info/bird_200x200.png", property: "twitter:image" }

/ stuff
%meta{ content: "jordan cole, stilist, ratafia, ratafia currant", name: "keywords" }
%meta{ content: "Copyright © Jordan Cole", name: "copyright" }
%title
	#{@page_title} — Ratafia Currant
%link{ href: "//creativecommons.org/licenses/by-nc/3.0/us/", rel: "license" }
%link{ href: "//feeds.feedburner.com/ratafia", rel: "alternate", title: "Ratafia Currant", type: "application/atom+xml" }

/ PubSubHubBub syndication
-# %link{ href: "//pubsubhubbub.appspot.com", rel: "hub" }

/ for microformats
%link{ href: "//purl.org/uF/2008/03/", rel: "profile" }

/ OpenID
%link{ href: "//www.myopenid.com/server", rel: "openid.server" }
%link{ href: "//stilist.myopenid.com/", rel: "openid.delegate" }
%link{ href: "//stilist.myopenid.com", rel: "openid2.local_id" }
%link{ href: "//www.myopenid.com/server", rel: "openid2.provider" }
%meta{ content: "//www.myopenid.com/xrds?username=stilist.myopenid.com", "httpequiv" => "X-XRDS-Location" }

/ pavatar
%link{ href: "//static.ratafia.info/bird_80x80.png", rel: "pavatar avatar logo" }

/ give Facebook a default image when this URL is shared
%link{ href: "//static.ratafia.info/bird_80x80.png", rel: "image_src" }

/ external profiles
:ruby
	contact = Contact.first

	if contact
		contact_methods = contact.contact_methods

		external_uris = contact_methods.map do |method|
			%Q{<link rel='me' href='#{method.uri}' title='#{method.display}'>}
		end.join "\n"
	end

= external_uris || ""

- if @page_type != :index
	%link{ href: @permalink, rel: "canonical" }

= stylesheet_link_tag "assets/vendor.css"
= stylesheet_link_tag "assets/core.css"

-# needs to be available as the page loads
= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"
= javascript_script_tag "assets/vendor.js"
= javascript_script_tag "assets/boot.js"
