- permalink = "/activities/#{locals["id"]}"
- time = locals["updated_at"]
- extras = locals["extras"]

%time.updated{ datetime: time.iso8601, pubdate: "" }
	%a.time{ href: permalink, rel: "bookmark" }><
		= time.strftime "%l:%M %P"
	%span.day_month
		- if locals["extras"]["full_view"]
			= time.strftime "%e %B"
		- else
			= time.strftime "%e %b"
	- if locals["extras"]["full_view"]
		%span.year
			= time.strftime "0%Y"

- if locals["extras"]["full_view"]
	- weather = Weather::nearest_observation locals["created_at"],
			extras["observations"]
	- if weather
		%span.observation
			%span.icon
				%img{ src: Weather::icon_url(weather["data"]["icon"]) }
