- permalink = "/activities/#{locals["id"]}"
- tags = locals["data"]["tags"] ? eval(locals["data"]["tags"]) : []
- time = locals["updated_at"]

%time.updated{ datetime: time.iso8601, pubdate: "" }
	%a.time{ href: permalink, rel: "bookmark" }><
		= time.strftime "%l:%M %P"
	%span.day_month
		= time.strftime "%e %B"
	%span.year
		= time.strftime "0%Y"

- weather = Weather::nearest_observation(locals["created_at"])["data"]
%span.observation
	%span.icon
		%img{ src: Weather::icon_url(weather["icon"]) }

%section.meta
	- unless tags.empty?
		%ul.keywords
			- tags.each do |tag|
				%li
					%a{ href: "/tags/#{tag["_content"]}", rel: "tag" }
						= tag["raw"]
		.clear
