:ruby
	item = locals["data"]
	time = locals["updated_at"].localtime
	extras = locals["extras"]
	full_view = locals["extras"]["full_view"]

%section{ class: item_classes(locals), style: item_hsl(locals),
			id: "item_#{locals["id"]}" }
	= partial locals["template"], locals: locals
	- unless full_view
		%a.permalink{ href: "/activities/#{locals["id"]}", rel: "bookmark" }

	%time.updated{ datetime: time.iso8601, pubdate: "" }
		%span.time
			= time.strftime "%l:%M %P"
		- if full_view
			%span.date
				= time.strftime "%e %b ’%y"
		- else
			%a.date{ href: time.strftime("/0%Y/%m/%d") }
				= time.strftime "%e %b ’%y"

	- if full_view
		- weather = Weather::nearest_observation locals["created_at"],
				extras["observations"]
		- if weather
			%span.observation
				%span.icon
					%img{ src: Weather::icon_url(weather["data"]["icon"]) }

:ruby
	hsl = item_hsl locals, false
	color = ColorMath::HSL.new *hsl

	lum = 1 - hsl[2]
	if (0.33..0.66).include? lum
		lum = (lum > 0.50) ? (lum - 0.25) : (lum + 0.25)
	end

	link_color = ColorMath::Adjust.luminance(color, lum).hex

:css
	#item_#{locals["id"]} a { border-bottom-color: #{link_color}; color: #{link_color}; }
