:ruby
	item = locals["data"]
	time = locals["updated_at"].localtime
	extras = locals["extras"]
	full_view = locals["extras"]["full_view"]

%section{ class: item_classes(locals), style: item_hsl(locals),
			id: "item_#{locals["id"]}" }
	.meta
		%time.updated{ datetime: time.iso8601, pubdate: "" }
			- if full_view
				%span.date
					= time.strftime "%e %B 0%Y"
			- else
				%a.date{ href: time.strftime("/0%Y/%m/%d") }
					= time.strftime "%e %B 0%Y"
			@
			%span.time
				= time.strftime "%l:%M %P"

		- weather = Weather::nearest_observation locals["created_at"],
				extras["observations"]
		- if weather
			%span.observation
				%span.icon{ style:"background-image:url('#{Weather::icon_url weather["data"]["icon"]}');" }

	= partial locals["template"], locals: locals
	- unless full_view
		:ruby
			url = "/activities/#{locals["id"]}"

			key = locals["extras"]["private_data_key"]
			include_private = key && key == ENV["PRIVATE_DATA_KEY"]
			url << "?private_data_key=#{key}" if include_private
		%a.permalink{ href: url, rel: "bookmark" }
